
html
{
  position: relative;
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
  background: #f2f5f7;
  -webkit-overflow-scrolling: touch;
  font-size:14px;
  font-family:'Microsoft YaHei';
}

.pd5{
  padding-top: 5px;
}
.div-btn {
  width: 90%;
  margin: 15px auto 10px auto;
}
.van-button--newlarge {
  width: 100%;
  height: 40px;
  line-height: 38px;
}
.cell-s-c-red{
   color: red;
    position: absolute;
    left: 8px;
}
 .van-field__control{
   min-height: 26px;
 }
 .van-search__action{
   width:55px;
   text-align: center;
 }
 .up-img-ul {
  padding-left: 10px;
}
.up-img-ul li {
  float: left;
  border: 1px solid #f5f5f5;
  margin: 5px;
  height: 90px;
  width: 80px;
  padding: 5px;
  text-align: center;
}
.font12{
  font-size:12px;
}
.t-indet25{
  text-indent: 25px;
}
.text-align-c{
  text-align: center;
}
.padding15{
  padding: 15px;
}


.index-hd {
  padding: 40px;
  text-align: center;
}
.index-bd {
  padding: 0 15px 20px;
}
.index-ft {
  padding-bottom: 10px;
  text-align: center;
}
.index-logo {
  width: 43px;
  height: 43px;
}
.index-desc {
  margin-top: 10px;
  color: #888888;
  font-size: 14px;
}


.navigator-box {
  opacity: 0;
  position: relative;
  background-color: #FFFFFF;
  line-height: 1.41176471;
  font-size: 17px;

  transform: translateY(-50%);
  transition: .3s;
}
.navigator-box-show {
  opacity: 1;
  transform: translateY(0);
}
.navigator {
  padding: 10px 15px;
  position: relative;
  display: flex;
  align-items: center;
}
.navigator:before {
  content: " ";
  position: absolute;
  left: 15px;
  top: 0;
  right: 15px;
  height: 1px;
  border-top: 1px solid #D8D8D8;
  color: #D8D8D8;
}
.navigator:first-child:before {
  display: none;
}
.navigator-text {
  flex: 1;
}
.navigator-arrow {
  padding-right: 13px;
  position: relative;
}
.navigator-arrow:after {
  content: " ";
  display: inline-block;
  height: 9px;
  width: 9px;
  border-width: 1px 1px 0 0;
  border-color: #888888;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 14px;
}


.kind-list-item {
  margin: 10px 0;
  background-color: #FFFFFF;
  border-radius: 2px;
  overflow: hidden;
}
.kind-list-item:first-child {
  margin-top: 0;
}
.kind-list-text{
  flex: 1;
}
.kind-list-img-title{
  width: 80px;
  height: 67px;
}
.kind-list-img {
  width: 30px;
  height: 30px;
}
.kind-list-item-hd {
  padding: 15px;
  display: flex;
  align-items: center;

  transition: opacity .3s;
}
.kind-list-item-hd-show {
  opacity: .2;
}
.kind-list-item-bd {
  height: 0;
  overflow: hidden;
}
.kind-list-item-bd-show {
  height: auto;
}


.text-align-l{
  text-align: left;
}
.font12{
  font-size:12px;
}
.font28{
  font-size:28px;
}
.font14{
  font-size:14px;
}
.padding-20{
  padding: 20px;
}
.padding-10{
  padding:10px;
}
.zwzx{
  padding: 5px 0 10px 0;
  color: #666;
}

.text-title{
  height: 40px;
  line-height: 40px;
  background: #f5f5f5;
  padding-left: 20px;
}
.up-img-ul {
  padding-left: 10px;
}
.up-img-ul li {
  float: left;
  border: 1px solid #f5f5f5;
  margin: 5px;
  height: 90px;
  width: 80px;
  padding: 5px;
  text-align: center;
}
.van-button--small{
  min-width: 100px;
}
.van-button--primary{
  color: #fff;
  background-color: #FF7F00;
  border: #FF7F00;
}
.errmsg {
	width: 100%;
	line-height: 24px;
	padding-left: 90px;
}
.van-checkbox__icon--checked .van-icon{
  color: #fff;
    border-color: #FF7F00;
    background-color:  #FF7F00;
}
.van-tab--active{
  color:#FF7F00;
}
.van-tabs__line{
  background: #FF7F00;
}

.bg-white{
  background: white;
}
.alin-c{
  text-align: center;
}
.font13{
  font-size: 13px;
  color: #666;
}
.d-c-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	.title {
		font-size: 14px;
		color: #666;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding-right: 5px;
	}
	.status {
		font-size: 12px;
	}
}
.d-c-content {
	line-height: 16px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.sizecor {
	font-size: 12px;
	color: #666;
}
.div-noshow {
	text-align: center;
	font-size: 12px;
	padding: 10px;
}
.van-nav-bar__text{
  color: #666;
}
.van-nav-bar .van-icon{
  color: #666;
}
.imgX {
	position: absolute;
	right: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.up-img-ul li {
	position: relative;
}
.div-ff {
	padding-top: 5px;
	border-top: 1px solid #e5e5e5;
	color: #999;
}
.no-data{
  display: block;
    text-align: center;
    padding: 20px;
}